<div>
    <form method="POST" action="/courses/store">
        ten<input type="text" name="name">
        <br>
        mo ta
        <input type="text" name="description">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>